  <div class="container mx-auto px-2 clearfix">
    <div class="col-12 sm-width-full py-2 mb-0 footer-footnotes">
      <p class="mb-0">
        <a id="cookie-settings-trigger" href="#" class="footer-cookie-settings sm-width-full">Cookie Settings</a>
        <span class="copyright-details">
          &copy; <a href="{{ site.company.cta.url }}">{{ site.author }}</a> {{ "now" | date: "%Y" }} - Powered by <a href="https://northware.com/">Northware&trade;</a>
        </span>
      </p>
    </div>
  </div>