{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}

  <div class="clearfix container px-2 mx-auto my-3">
    <div class="sm-width-full left container mx-auto">
      {% if site.logo %}<a href="/" class="mr-2 inline-block align-middle"><img src="{{ site.logo | prepend: '/assets/' | prepend: full_base_url }}" alt="{{ site.author }} Logo" class="logo"></a>{% endif %}
      <div class="inline-block valign-top">
        <h3 class="h3 mt-0">
          <a href="/" class="link-primary">{{ site.name }}</a>
        </h3>
        <p class="site-description lh-condensed font-smoothing mb-0">{{ site.description }}</p>
      </div>
    </div>

    <div class="footer-menu inline-block">
      {% include navigation/nav_footer.html %}
      {% include social_icons.html %}
    </div>
  </div>
  