<div class="container mx-auto px-2 mb-2 clearfix header-text">
  <h1 class="h0 inline-block sm-width-full pt-4 pb-1 mt-3 header-title">
    {{ site.title }}
  </h1>
  <div class="clearfix mb-4 py-1">
    <div class="col-10 sm-width-full mb-3">
      <p class="site-description lh-condensed font-smoothing mt-2 py-1">
        {{ site.description }}
      </p>
    </div>
    <div class="col-5 sm-width-full border-top-thin">
      <div class="inline-block mt-3">
        <a href="{{ site.company.cta.url }}" class="call-to-action">
          {{ site.company.cta.text }}
        </a>
      </div>
    </div>
  </div>
</div>