<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header class="header-background">
      {% include header.html %}
    </header>

    <main class="section-content mb-4">
      {{ content }}
    </main>

    {% include footer.html %}
    {% include cookie_banner.html %}

    <script src="{{ '/assets/scripts/burger-menu.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ '/assets/scripts/cookie-consent.js' | prepend: site.baseurl | prepend: site.url }}" async defer></script>
  </body>

</html>