<!DOCTYPE html>
<html lang="{{ site.locale | default: 'en-US' }}">

  {% include head.html %}

  <body>
      <header class="header-background">
        {% include header.html %}
        {% include hero.html %}
      </header>

      <main class="section-content container mx-auto px-2 py-4">
        {% for post in paginator.posts %}
          {% include post_block.html %}
        {% endfor %}
        
        {% include paginator.html %}
      </main>

    {% include footer.html %}
    {% include cookie_banner.html %}

    <script src="{{ '/assets/scripts/burger-menu.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ '/assets/scripts/cookie-consent.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  </body>

</html>